/* colors: 363946 onyx gray
            696773 dim lightgray
            819595 morning blue greenish blue */

html {
    background-color: #B1B6A6;
    font-family: cursive;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
}

header {
    text-align: center;
    color: #000000;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border:#363946 2px solid;
    border-radius: 10px;
    margin: 10px;
    gap: 40px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#grid {
    display: grid;
    border: #696773 3px solid;
    border-radius: 5px;
    padding: 2px;
    /* gap: 1px; */
    min-height: 600px;
    min-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 8px 2px #819595;
}

@media screen and (max-width: 680px) {
    #grid {
        min-height: 300px;
        min-width: 300px;
    }
}

#grid > *{
    border: #696773 0px solid;

} 

.sliderSize {
    text-align: center;
}

#Amount {
    display: inline-block;
    width: 75px;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
    
}

#colorPicker::-webkit-color-swatch {
    border-radius: 100px;
    border: none;
    padding: 0;
    box-shadow: 0 0 8px 2px #819595;
    cursor: pointer;
}

#colorPicker::-webkit-color-swatch:hover {
    box-shadow: 0 0 12px 4px #819595;
}

button {
    border: #819595 1px solid;
    border-radius: 4px;
    background-color: #363946;
    color: #fff;
    padding: 5px;
    min-width: 25px;
}

button:active {
    opacity: 0.8;
}

.Picker {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #B1B6A6;
    padding: 5px;
    font-size: 12px;
}